@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
* {
    margin: 0;
}

body {
    background-image: url("http://picsum.photos/id/1/1000/");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

body {
    font-family: Doto;
}